@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'DM Sans';
	src: url('DMSans-Regular.ttf');
}

@font-face {
	font-family: 'DM Sans';
	src: url('DMSans-Bold.ttf');
	font-weight: bold
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('JetBrainsMono-Regular.ttf');
}

* {
	box-sizing: border-box;
}

body {
	background-color: rgb(37, 37, 37);
	margin: 0px;
}

#settings-container > * {
	font-family: 'DM Sans';
	color: rgb(199, 199, 199)
}

.scroll-input {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.48);
	padding: 7px;
	font-family: 'JetBrains Mono';
	min-width: 2ch;
	border-radius: 8px;
	user-select: none;
	font-size: 15px;
	outline: 0 solid transparent;
	transition-property: outline-width, outline-color;
	transition-duration: 0.2s;
}

.scroll-input[data-selected='true'] {
	outline: 3px solid #e0e0e0
}

.tile {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border-radius: 5%;
}

.tile:hover {
	cursor: pointer;
}

#settings-container {
	left: 0px;
	right: 0px;
	top: 0px;
	height: 50px;
	background-color: rgb(50, 50, 50);
	display: flex;
	align-items: center;
	padding-right: 50px;
	justify-content: flex-end;
	gap: 20px;
}

#restart-button {
	background-color: transparent;
	border: none;
	font-size: 17px;
	font-weight: bold;
	padding: 12px;
	line-height: 12px;
	border-radius: 10px;
	transition: all 0.3s;
}

#restart-button:hover:not(:disabled) {
	background-color: rgba(255, 255, 255, 0.125);
	cursor: pointer
}

#restart-button:active {
	transition: all 0.1s;
	background-color: rgba(0, 0, 0, 0.267);
}

#restart-button:disabled {
	color: rgb(124, 124, 124);
}

#right-click-blocker {
	position: absolute;
}