@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Bold.woff2');
	font-weight: bold;
}

@font-face {
	font-family: 'DM Sans';
	src: url('DMSans-Regular.woff2');
}

@font-face {
	font-family: 'DM Sans';
	src: url('DMSans-Bold.woff2');
	font-weight: bold;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('JetBrainsMono-Regular.woff2');
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('JetBrainsMono-Bold.woff2');
	font-weight: bold;
}

* {
	box-sizing: border-box;
	font-family: 'DM Sans';
	color: rgba(255, 255, 255, 0.75);
	font-size: clamp(12px, calc(4vw - 8px), 16px)
}

body {
	background-color: rgb(37, 37, 37);
	margin: 0px;
	overscroll-behavior: none;
}

/* Remove up and down buttons on type=number inputs, Webkit and Firefox */
input::-webkit-inner-spin-button {display: none}
input[type=number] {-moz-appearance: textfield}


fancy-input {
	background-color: rgba(0, 0, 0, 0.48);
	border-radius: 8px;
	padding-top: 17px;
	padding-bottom: 17px;
}

fancy-input * {
	font-family: 'JetBrains Mono';
	font-size: clamp(12px, calc(4vw - 8px), 15px)
}

.fancy-input-unit {
	color: rgba(255, 255, 255, 0.5);
	font-weight: bold;
}

.tile {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	-webkit-user-select: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border-radius: 5%;
}

.tile:hover {
	cursor: pointer;
}

#settings-container {
	left: 0px;
	right: 0px;
	top: 0px;
	height: 50px;
	background-color: rgb(50, 50, 50);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#settings-right-container {
	display: flex;
	gap: clamp(10px, calc(20vw - 120px), 40px);
}

#create-new-board-button {
	font-size: clamp(12px, calc(4vw - 8px), 17px);
	background-color: transparent;
	border: none;
	font-weight: bold;
	padding: clamp(6px, calc(2vw - 4px), 12px);
	line-height: 12px;
	border-radius: clamp(7px, calc(3vw - 13px),10px);
	transition: all 0.3s;
	margin-right: clamp(0px, calc(2vw + 2px), 50px);
	user-select: none;
	-webkit-user-select: none;
	/* background-color: red; */
}

#create-new-board-button:hover:not(:disabled) {
	background-color: rgba(255, 255, 255, 0.125);
	cursor: pointer
}

#create-new-board-button:active {
	transition: all 0.1s;
	background-color: rgba(0, 0, 0, 0.267);
}

#create-new-board-button:disabled {
	color: rgb(124, 124, 124);
}

#right-click-blocker {
	position: absolute;
}

.label-fancy-input-pair-container {
	display: flex;
	align-items: center;
	gap: 8px
}

.fancy-input-label {
	user-select: none;
	-webkit-user-select: none;
}